[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pytest = "*"
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = {git = "https://github.com/maxcountryman/flask-bcrypt.git"}
wtforms = "*"
flask-wtf = "*"
pycryptodome = "*"
pywin32 = "*"
sqlalchemy = "*"
psutil = "*"
flask-login = {git = "https://github.com/maxcountryman/flask-login.git"}
humanize = "*"
markdown2 = "*"

[requires]
python_version = "3.7"
