{% extends "jobs/jobs.html" %}
{% set active_menu = "schedules" %}
{% from "list_generators.html" import item_select_script_modal %}
{% block menu_content %}
    <form class="ub-form form-style-1" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group-fieldset">
            <legend class="border-bottom">Schedule attributes</legend>
            {{ form.schedule_id() }}
            {{ form.jobs_changed() }}
            {{ form.job_list() }}
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid input-field") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control input-field") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                {{ form.description(class="form-control is-invalid input-field") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.description(class="form-control input-field") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label class="form-control-label">Schedule policy:</label>
                {{ form.missed_timeout.label(class="form-control-label") }}
                {% if form.missed_timeout.errors %}
                {{ form.missed_timeout(class="form-control is-invalid input-field", type="number") }}
                <div class="invalid-feedback">
                    {% for error in form.missed_timeout.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.missed_timeout(class="inline-form-control input-field", type="number") }}
                {% endif %}
                Run this schedule every {{ form.time_interval(class="inline-form-control", type="number") }} {{ form.time_unit(class="inline-form-control") }}
                <table class="ub-table" id="week-picker">
                    <tr><td>on</td></tr>
                    <tr>
                        <td>Mon</td>
                        <td>Tue</td>
                        <td>Wed</td>
                        <td>Thu</td>
                        <td>Fri</td>
                        <td>Sat</td>
                        <td>Sun</td>
                    </tr>
                    <tr>
                        <td>{{ form.monday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.tuesday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.wednesday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.thursday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.friday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.saturday(class="inline-form-control week-picker-checkbox") }}</td>
                        <td>{{ form.sunday(class="inline-form-control week-picker-checkbox") }}</td>
                    </tr>
                </table>
                at 
                {% if form.time_at.errors %}
                {{ form.time_at(class="time-select inline-form-control is-invalid", id="time-picker", autocomplete="off") }}
                <div class="invalid-feedback">
                    {% for error in form.time_at.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.time_at(class="time-select inline-form-control", id="time-picker", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="form-control input-field") }}
        </div>
        
        <table id="job-schedule-table" class="ub-table">
            <caption>Scheduled jobs</caption>
            <thead>
                <tr class="ub-table-header-row">
                    <th class="ub-table-header-item ub-table-button-remove-header"></th>
                    <th class="ub-table-header-item table-col-7"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in table_items %}
                    <tr class="ub-table-data-row" id="{{ item['id'] }}-row">
                        <td class="ub-table-data">
                            <button class="ub-table-button-remove table-col-05" onclick="removeTableItem(this.value)" value="{{item['id']}}" id="{{item['id']}}-button"><i class="fa fa-times-circle"></i></button>
                        </td>
                        <td class="ub-table-data table-data-item">{{ item['name'] }}</td>
                        <td class="ub-table-data table-col-05">
                            <button class="ub-table-button-sort table-down" onclick="tableDown(event); return false"><i class="fas fa-caret-down"></i></button>
                        </td>
                        <td class="ub-table-data table-col-05">
                            <button class="ub-table-button-sort table-up" onclick="tableUp(event); return false"><i class="fas fa-caret-up"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <button class="ub-table-item-prompt-button" href="{{url_for('jobs.job_select')}}"><i class="fa fa-plus-square"></i></button>
        </div>
    </form>
    {{ item_select_script_modal('/jobs/saved_jobs/_get_saved_job_info', 1) }}
    <script>
        function _addToTable(name, id) {
            var table = document.getElementById("job-schedule-table").getElementsByTagName('tbody')[0];
            var row = table.insertRow(-1);
            row.classList.add("ub-table-data-row");
            row.id = id + "-row";
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = '<button class="ub-table-button-remove" onclick="removeTableItem(this.value)" value="' + id + '" id="' + id + '-button"><i class="fa fa-times-circle"></i></button>';
            cell2.innerHTML = name;
            cell1.classList.add("ub-table-data");
            cell1.classList.add("table-col-05")
            cell2.classList.add("ub-table-data");
            cell2.classList.add("table-data-item");
            cell3.classList.add("ub-table-data");
            cell4.classList.add("ub-table-data");
            cell3.classList.add("table-col-05");
            cell4.classList.add("table-col-05");
            cell3.innerHTML = '<button class="ub-table-button-sort table-down" onclick="tableDown(event); return false"><i class="fas fa-caret-down"></i></button>';
            cell4.innerHTML = '<button class="ub-table-button-sort table-up" onclick="tableUp(event); return false"><i class="fas fa-caret-up"></i></button>';
        }

        function addToTable(name, id) {
            var duplicateRow = document.getElementById(id + "-row");
            if (!duplicateRow) {
                _addToTable(name, id);
            }
            document.getElementById('jobs_changed').value = true;
        }

        function removeTableItem(id) {
            var table = document.getElementById("job-schedule-table");
            row = document.getElementById(id + "-row");
            if (row && row.rowIndex) {
                table.deleteRow(row.rowIndex);
            }
            document.getElementById('jobs_changed').value = true;
        }

        $(function () {
            $('form').submit(function () {
                var schedule_table = document.getElementById("job-schedule-table");
                var job_list = [];
                for (var i = 0, row; row = schedule_table.rows[i]; i++) {
                    if (row.classList.contains('ub-table-data-row')) {
                        job_list += parseInt(row.id.replace('-row', ''));
                    }
                }
                document.getElementById('job_list').value = JSON.stringify(job_list);
            });
        });

        $( ".ub-table-item-prompt-button" ).modaal({
            type: 'ajax'
        });

        function closeModaal() {
            $( ".ub-table-item-prompt-button" ).modaal("close");
        }
/*
        $(document).on('click', '.table-up', function() {
            var $row = $(this).parents('tr');
            if ($row.index() === 0) return; // Don't go above the header
            $row.prev().before($row.get(0));
        });

        $(document).on('click', '.table-down', function() {
            var $row = $(this).parents('tr');
            $row.next().after($row.get(0));
        });
*/
        function tableUp(e) {
            var $row = $(e.target).parents('tr');
            if ($row.index() === 0) return; // Don't go above the header
            $row.prev().before($row.get(0));
        }

        function tableDown(e) {
            var $row = $(e.target).parents('tr');
            $row.next().after($row.get(0));
        }

        $("#time_unit").change(function(e) {
            var time_unit = $(this).val();
            if (time_unit[time_unit.length-1] != 's') {
                $("#time_interval").prop('disabled', true);
            } else {
                $("#time_interval").prop('disabled', false);
            }
            if (time_unit == 'week' || time_unit == 'weeks')
            {
                $(".week-picker-checkbox").prop('disabled', false);
                $("#week-picker").css("display", "table");
            }
            else {
                $(".week-picker-checkbox").prop('disabled', true);
                $("#week-picker").css("display", "none");
            }
        });

        var timepicker = new TimePicker('time-picker', {
            lang: 'en',
            theme: 'dark'
        });

        timepicker.on('change', function(evt) {
            var value = (evt.hour || '00') + ':' + (evt.minute || '00');
            evt.element.value = value;
        });

        var time_unit = $("#time_unit").val();
        if (time_unit[time_unit.length-1] != 's') {
            $("#time_interval").prop('disabled', true);
        } else {
            $("#time_interval").prop('disabled', false);
        }
        if (time_unit == 'week' || time_unit == 'weeks')
        {
            $(".week-picker-checkbox").prop('disabled', false);
            $("#week-picker").css("display", "table");
        }
        else {
            $(".week-picker-checkbox").prop('disabled', true);
            $("#week-picker").css("display", "none");
        }

    </script>
{% endblock menu_content %}