{% extends "jobs/jobs.html" %}
{% set active_menu = "schedules" %}
{% set help_page = "schedules" %}
{% from "menu_generator.html" import generate_action_menu %}
{% from "list_generators.html" import item_select_script_table %}
{% set action_menu_list = [
    {'action_name': 'Add', 'action': 'add', 'icon': 'fas fa-plus-square', 'variant': '0'},
    {'action_name': 'Edit', 'action': 'edit', 'icon': 'fas fa-edit', 'variant': '1'},
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/jobs/schedules/', items, 'jobs.schedules') }}
    <table class="ub-table">
        <thead class="ub-table-header">
            <tr class="ub-table-header-row">
                <th class="ub-table-header-item table-col-05">Check</th>
                <th class="ub-table-header-item table-col-2">Name</th>
                <th class="ub-table-header-item table-col-4">Policy</th>
                <th class="ub-table-header-item table-col-2">Next Run</th>
                <th class="ub-table-header-item table-col-2"></th>
            </tr>
        </thead>
        {% for item in items.items %}
            <tr class="ub-table-data-row" id="{{ item['id'] }}">
                <td class="ub-table-data table-col-05 table-checkbox-div">
                    <input type="checkbox" class="table-checkbox list-checkbox" autocomplete="off" value="{{item['id']}}" id="{{item['id']}}-box">
                </td>
                <td class="ub-table-data table-data-item">{{ item['name'] }}</td>
                <td class="ub-table-data table-data-item">{{ item['policy'] }}</td>
                <td class="ub-table-data table-data-item next-run">{{ item['next_run'] }}</td>
                <td class="ub-table-data table-data-item paused">
                {% if item['paused'] %}
                    <button class="table-button toggle-pause-button"><i class="fas fa-play"></i></button>
                {% else %}
                    <button class="table-button toggle-pause-button"><i class="fas fa-pause"></i></button>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {{ item_select_script_table('/jobs/schedules/_get_schedule_info') }}
    <script>
    
        $(document).on('click', '.toggle-pause-button', function(e) {
            togglePause(e);
        });

        function togglePause(e) {
            var $row = $(e.target).parents('tr')[0];
            $("#"+ $row.id + " .paused " + "i").removeClass();
            $("#"+ $row.id + " .paused " + "i").html('<div class="lds-spin-small" style="width:100%;height:100%"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>');
            $.ajax({
                type: "POST",
                url: $SCRIPT_ROOT + "/jobs/schedules/_toggle_schedule_pause",
                contentType: "application/json",
                data: JSON.stringify({item_id: parseInt($row.id)}),
                dataType: "json",
                success: function(response) {
                    //new Noty({ theme: 'relax', text: response.topkek, layout: 'bottomCenter', type: 'success' }).show();
                    updateTableItem($row.id, response.item_values);
                },
                error: function(error) {
                    new Noty({ theme: 'relax', text: error.errormsg, layout: 'bottomCenter', type: 'error' }).show();
                }
            });
            e.stopPropagation();
        }

        function updateTableItem(id, values) {
            $("#"+ id + " .paused " + "i").html('');
            if (values.paused == true) {
                $("#"+ id + " .paused " + "i").removeClass()
                $("#"+ id + " .paused " + "i").addClass("fas fa-play")
            } else if (values.paused == false) {
                $("#"+ id + " .paused " + "i").removeClass()
                $("#"+ id + " .paused " + "i").addClass("fas fa-pause")
            }
            $("#"+ id + " .next-run").html(values.next_run);

        }

    </script>
{% endblock menu_content %}