{# Main layout for the application. Mainly created so that the login page could be separated yet retain
    all the necessary packages and css from the global_layout. #}
{% extends "global_layout.html" %}
{% block app_content %}
{% import "navigation_bar.html" as navigation_bar %}
<body>
    <div class="app-header">
        <header class="corner-title">
            <h1>Aww yiss</h1>
        </header>
        <div class="pill-bar">
            {{ navigation_bar.render_navigation_pills(navigation_bar.navigation_pills, active_tab) }}
        </div>
        <div class="menu-open-button-container">
            <button id="menu-open-button" onclick="toggle_menu()">☰</button>
        </div>
        <div class="nav-account-items">
            {#<a class="nav-item nav-link col-md-1 float-left" href="{{ url_for('main.shutdown') }}">SHUTDOWN</a>#}
            <a class="nav-item nav-link col-md-1 float-left" href="{{ url_for('system.account') }}">{{ current_user.username }}</a>
            <a class="nav-item nav-link col-md-1 float-right" href="{{ url_for('users.logout') }}">Logout</a>
        </div>
    </div>
    <div class="tab-content">
        {% block tab_content %}
        {% endblock tab_content%}
    </div>
    <script>
        function toggle_menu() {
            if (document.getElementsByClassName("menu-container")[0].style.display == "block") {
                document.getElementsByClassName("menu-container")[0].style.display = "none";
            } else {
                document.getElementsByClassName("menu-container")[0].style.display = "block";
            }
        }

        function menu_open() {
            document.getElementsByClassName("menu-container")[0].style.display = "block";
        }

        function w3_close() {
            document.getElementsByClassName("menu-container")[0].style.display = "none";
        }
    </script>
</body>
{% endblock app_content %}