{% extends "system/system.html" %}
{% set active_menu = "account" %}
{% block menu_content %}
    <form class="col-md-4" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit.label(class="form-control-label") }}
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
{% endblock menu_content %}