{% extends "system/system.html" %}
{% from "list_generators.html" import item_select_script_table %}
{% from "menu_generator.html" import generate_action_menu %}
{% set active_menu = 'credentials' %}
{% set action_menu_list = [
    {'action_name': 'Edit', 'action': 'edit', 'icon': 'fas fa-edit', 'variant': '1'},
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/system/credentials/') }}
    <div class="container">
        {% if credential_database_encrypted %}
            Credential database encrypted
            {% if credential_database_locked %}
                <div>
                    Credential database locked
                    <p></p>
                    <button type="button" onclick="location.href='{{ url_for('system.unlock_credentials') }}'" class="btn btn-success">Unlock</button>
                    <!--<button type="button" onclick="location.href='{{ url_for('system.decrypt_credentials') }}'" class="btn btn-success">Decrypt</button>-->
                </div>
            {% else %}
                <div>
                    Credential database unlocked
                    <button type="button" onclick="location.href='{{ url_for('system.lock_credentials') }}'" class="btn btn-success">Lock</button>
                    <button type="button" onclick="location.href='{{ url_for('system.decrypt_credentials') }}'" class="btn btn-success">Decrypt</button>
                </div>
            {% endif %}
        {% else %}
            <div>
                Credential database not encrypted
                <button type="button" onclick="location.href='{{ url_for('system.encrypt_credentials') }}'" class="btn btn-danger">Encrypt</button>
            </div>
        {% endif %}
    </div>
    {#{ generate_credential_list(credential_groups) }#}
    <table class="ub-table" id="credential-table">
        <tr class="ub-table-header-row">
            <th class="ub-table-header-item table-col-05">Check</th>
            <th class="ub-table-header-item table-col-3">Service Name</th>
            <th class="ub-table-header-item table-col-7">Service Id</th>
        </tr>
        {% for group in credential_groups %}
            <tr class="ub-table-data-row" id="{{ group['group_id'] }}">
                <td class="ub-table-data table-col-05 table-checkbox-div">
                    <input type="checkbox" class="table-checkbox list-checkbox" autocomplete="off" value="{{group['group_id']}}" id="{{group['group_id']}}-box">
                </td>
                <td class="ub-table-data table-data-item">{{ group['service_name'] }}</td>
                <td class="ub-table-data table-data-item">{{ group['service_id'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ item_select_script_table('/system/credentials/_get_item_info') }}
{% endblock menu_content %}