{% extends "system/system.html" %}
{% set active_menu = "credentials" %}
{% block menu_content %}
    <form class="col-md-4 form-style-1" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">Credential Info</legend>
            <div class="form-group">
                {{ form.group_description.label(class="form-control-label") }}
                {% if form.group_description.errors %}
                {{ form.group_description(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.group_description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.group_description(class="form-control") }}
                {% endif %}
            </div>
            {% for credential_form in form.group_credentials %}
                
                <script>alert({{credential_form.credential(class="form-control")}})</script>
                {{ credential_form.hidden_tag() }}
                <div class="form-group">
                    {{ credential_form.credential.label(class="form-control-label") }}
                    {% if credential_form.credential.errors %}
                        {{ credential_form.credential(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in credential_form.credential.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ credential_form.credential(class="form-control") }}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
        </fieldset>
    </form>
{% endblock menu_content %}