.login-container {
    display: grid;
    grid-template-columns: repeat(13, 1fr)
}

fieldset.form-group {
    grid-column: 6 / span 3;
}


.login-form-control {
    display: block;
    width: 100%;
    height: calc(1.5rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }