{% extends "backup/backup_sets.html" %}
{% set active_menu = "backup_sets" %}
{% block menu_content %}
    <form class="ub-form form-style-1" method="POST" action="" enctype="multipart/form-data"><!-- enctype required for images or something -->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom">Files and Folders Set</legend>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.file_data(class="form-control") }}
            </div>
            <div class="form-group">
                <label class="form-control-label">File/Folder select</label>
                <div class="ub-file-select">
                    <div id="file-selector" class="form-control"></div>
                </div>
            </div>
            <div class="form-group">
                {{ form.submit(class="form-control") }}
            </div>
            <div class="form-group">
                <input id="exclude-item-button" type="button" onclick="addExclusion()" value="Exclude Item">
            </div>
            <table id="exclusion-table" class="ub-table">
                <caption>Excluded items</caption>
                <thead>
                    <tr class="ub-table-header-row">
                        <th class="ub-table-header-item ub-table-button-remove-header"></th>
                        <th class="ub-table-header-item table-col-7"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in excluded_items %}
                        <tr class="ub-table-data-row" id="{{ item['id'] }}-row">
                            <td class="ub-table-data">
                                <button class="ub-table-button-remove" onclick="removeTableExclusion(this.value)" value="{{item['id']}}" id="{{item['id']}}-button"><i class="fa fa-times-circle"></i></button>
                            </td>
                            <td class="ub-table-data table-data-item">{{ item['path'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>
    </form>
    
    <script>
        
        $( function () { $("#file-selector").jstree({ 
                'core' : {
                    "animation": 50,
                    'data' : {
                        'url': $SCRIPT_ROOT + "/backup/backup_sets/_get_directory_listing",
                        'data': function(node) {
                            return {
                                'id': node.id,
                                'path': $("#file-selector").jstree().get_path(node.id, "/") + "/"
                            }
                        },
                        'dataType': 'json',
                        'error': function (data) {
                            new Noty({ theme: 'relax', text: data.responseJSON.errormsg, layout: 'bottomCenter', type: 'error' }).show();
                        }
                    },
                    'themes': {
                        'name': 'custom',
                        'dots': 'true',
                        'responsive': 'true',
                        'stripes': 'false'
                    },
                    'loaded_state': true
                },
                'plugins': [
                    'checkbox', 'wholerow'
                ],
                'checkbox': {
                    //"keep_selected_style": false,
                    "tie_selection": false,
                    "whole_node": false
                }
        })
        });

        function addExclusion() {
            var selectedArray = $("#file-selector").jstree().get_selected();
            var i;
            var table = document.getElementById("exclusion-table").getElementsByTagName('tbody')[0];
            for (i = 0; i < selectedArray.length; i++)
            {
                var duplicateRow = document.getElementById(selectedArray[i] + "-row");
                if (!duplicateRow) {
                    var pathToAdd = $("#file-selector").jstree().get_path(selectedArray[i], "/");
                    var row = table.insertRow(-1);
                    row.classList.add("ub-table-data-row");
                    row.id = selectedArray[i] + "-row";
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    cell1.innerHTML = '<button class="ub-table-button-remove" onclick="removeTableExclusion(this.value)" value="' + selectedArray[i] + '" id="' + selectedArray[i] + '-button"><i class="fa fa-times-circle"></i></button>';
                    cell2.innerHTML = pathToAdd;
                    cell1.classList.add("ub-table-data");
                    cell2.classList.add("ub-table-data");
                    cell2.classList.add("table-data-item");
                }
            }
        }

        function removeTableExclusion(value) {
            var table = document.getElementById("exclusion-table");
            row = document.getElementById(value + "-row");
            if (row && row.rowIndex) {
                table.deleteRow(row.rowIndex);
            }
        }

        $(function () {
            $('form').submit(function () {
                var tree_object = $("#file-selector").jstree();
                var exclusion_table = document.getElementById("exclusion-table");
                var temp_list = tree_object.get_top_checked(true);
                var jstree_state = tree_object.get_state();
                var new_list = {
                    'file_list': []
                };
                temp_list.forEach(function (element) {
                    new_list['file_list'].push("+/" + tree_object.get_path(element.id, "/"));
                });

                for (var i = 0, row; row = exclusion_table.rows[i]; i++)
                {
                    pathCell = row.cells[1];
                    if (pathCell.classList.contains("ub-table-data")) {
                        new_list['file_list'].push("-/" + pathCell.innerHTML);
                    }
                }
                new_list['state'] = jstree_state;
                document.getElementById('file_data').value = JSON.stringify(new_list);
            });
        });

    </script>
{% endblock menu_content %}