{% extends "backup/backup.html" %}
{% set active_menu = "job_history" %}
{% from "menu_generator.html" import generate_action_menu %}
{% from "list_generators.html" import item_select_script_table %}
{% set action_menu_list = [
    {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/jobs/job_history/', items, 'backup.job_history') }}
    <table class="ub-table">
        <thead class="ub-table-header">
            <tr class="ub-table-header-row">
                <th class="ub-table-header-item table-col-05">Check</th>
                <th class="ub-table-header-item table-col-1">Status</th>
                <th class="ub-table-header-item table-col-2">Name</th>
                <th class="ub-table-header-item table-col-7">Time Elapsed</th>
            </tr>
        </thead>
        {% for item in items.items %}
            <tr class="ub-table-data-row" id="{{ item['id'] }}">
                <td class="ub-table-data table-col-05 table-checkbox-div">
                    <input type="checkbox" class="table-checkbox list-checkbox" autocomplete="off" value="{{item['id']}}" id="{{item['id']}}-box">
                </td>
                <td class="ub-table-data table-data-item">{{ item['status'] }}</td>
                <td class="ub-table-data table-data-item">{{ item['name'] }}</td>
                <td class="ub-table-data table-data-item">{{ item['time_elapsed'] }}</td>
            </tr>
        {% endfor %}
    </table>
    {# we can keep the same info script as the one under the jobs
        tab #}
    {{ item_select_script_table('/backup/job_history/_get_history_info') }}
{% endblock menu_content %}