Group ID: {{ info_dict["group_id"]}}<br>
Description: {{ info_dict["description"] }}<br>
Service: {{ info_dict["service_name"] }}<br>
Service Id: {{ info_dict["service_id"] }}<br>
Time Added: {{ info_dict["time_added"] }}<br><br>
<b>Credentials:</b><br>
<table class="sidebar-info-table">
    <thead>
        <tr>
            <th>Credential Role</th>
            <th>Credential Data</th>
        </tr>
    </thead>
    <tbody>
        {% for credential_set in info_dict["credentials"] %}
            <tr>
                <td>{{ credential_set["role"] }}</td>
                <td>{{ credential_set["data"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>