<div>
    <table class="sidebar-info-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Parameter Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ info_dict.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{info_dict.name}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{{info_dict.status}}</td>
            </tr>
            <tr>
                <td>Time Elapsed</td>
                <td>{{info_dict.time_elapsed}}</td>
            </tr>
            <tr>
                <td>Time Started</td>
                <td>{{info_dict.time_started}}</td>
            </tr>
            <tr>
                <td>Time Finished</td>
                <td>{{info_dict.time_finished}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% if info_dict.result %}
    <div class="job-result">
        Job Results:<br>
        ----------------<br>
        {{info_dict.result}}<br>
        -------------------------------------------<br>
    </div>
{% endif %}

<div class="job-log" style="white-space: pre">
Job Log:
----------------
{% for log in info_dict["log"] %}{{ log }}{% endfor %}
</div>
