<table class="sidebar-info-table">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Parameter Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{ info_dict['name'] }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ info_dict['description'] }}</td>
        </tr>
        <tr>
            <td>Repository Id</td>
            <td>{{ info_dict['repo_id'] }}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ info_dict['address'] }}</td>
        </tr>
        <tr>
            <td>Total Size</td>
            <td>{{ info_dict['data'].get('total_size') }}</td>
        </tr>
        <tr>
            <td>Total File Count</td>
            <td>{{ info_dict['data'].get('total_file_count') }}</td>
        </tr>
    </tbody>
</table>