<div>
    <table class="sidebar-info-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Parameter Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ info_dict['name'] }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ info_dict['description'] }}</td>
            </tr>
            <tr>
                <td>Repository Type</td>
                <td>{{ info_dict['repository_type'] }}</td>
            </tr>
            <tr>
                <td>Repository Id</td>
                <td>{{ info_dict['repo_id'] }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ info_dict['address'] }}</td>
            </tr>
            <tr>
                <td>Total Size</td>
                <td>{{ info_dict['data'].get('total_size') }}</td>
            </tr>
            {#
                <tr>
                    <td>Total File Count</td>
                    <td>{{ info_dict['data'].get('total_file_count') }}</td>
                </tr>
            #}
            {% if info_dict['data'].get('status') %}
            <tr>
                <td>Offline Msg</td>
                <td>{{ info_dict['data']['status'] }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>