<table class="sidebar-info-table">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Parameter Data</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Job Name</td>
            <td>{{ info_dict['name'] }}</td>
        </tr>
        <tr>
            <td>Job Notes</td>
            <td>{{ info_dict['notes'] }}</td>
        </tr>
        <tr>
            <td>Repository to check</td>
            <td>{{ info_dict['repository'] }}</td>
        </tr>
    </tbody>
</table>