<div>
    <table class="sidebar-info-table">
        <thead>
            <tr>
                <th>Parameter</th>
                <th>Parameter Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ info_dict['name'] }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ info_dict['description'] }}</td>
            </tr>
            <tr>
                <td>Next Run Time</td>
                <td>{{ info_dict['next_run'] }}</td>
            </tr>
            <tr>
                <td>Schedule Policy</td>
                <td>{{ info_dict['policy'] }}</td>
            </tr>
            <tr>
                <td>Missed Job Timeout</td>
                <td>{{ info_dict['missed_timeout'] }}</td>
            </tr>
            <tr>
                <td>Paused</td>
                <td>{{ info_dict['paused'] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h2>Scheduled Jobs</h2>
    <ul>
        {% for item in info_dict['jobs'] %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>