{% extends "repositories/repositories.html" %}
{% set active_menu = "physical_locations" %}
{% from "menu_generator.html" import generate_action_menu, generate_sidebar %}
{% from "list_generators.html" import item_select_script_table %}
{% set action_menu_list = [
        {'action_name': 'Add', 'action': 'add', 'icon': 'fas fa-plus-square', 'variant': '0'},
        {'action_name': 'Edit', 'action': 'edit', 'icon': 'fas fa-edit', 'variant': '1'},
        {'action_name': 'Delete', 'action': 'delete', 'icon': 'fas fa-trash', 'variant': '2'}
    ]
-%}
{% block menu_content %}
    {{ generate_action_menu(action_menu_list, '/repositories/physical_locations/') }}

    <table class="ub-table">
        <tr class="ub-table-header-row">
            <th class="ub-table-header-item table-col-05">Check</th>
            <th class="ub-table-header-item table-col-05">Id</th>
            <th class="ub-table-header-item table-col-2">Name</th>
            <th class="ub-table-header-item table-col-5">Address</th>
            <th class="ub-table-header-item table-col-1">Type</th>
            <th class="ub-table-header-item table-col-1">Status</th>
        </tr>
        {% for location in locations.items %}
            <tr class="ub-table-data-row" id="{{ location['id'] }}">
                <td class="ub-table-data table-col-05 table-checkbox-div">
                    <input type="checkbox" class="table-checkbox list-checkbox" autocomplete="off" value="{{location['id']}}" id="{{location['id']}}-box">
                </td>
                <td class="ub-table-data table-data-item">{{ location.id }}</td>
                <td class="ub-table-data table-data-item">{{ location.name }}</td>
                <td class="ub-table-data table-data-item">{{ location.address }}</td>
                <td class="ub-table-data table-data-item">{{ location.physical_location_type.name }}</td>
                <td class="ub-table-data table-data-item list-update" id="status">
                     <div class='lds-dual-ring-small'></div> 
                </td>
            </tr>
        {% endfor %}
    </table>

    {#<span class="list-group-header">
        <div class="list-content col-1">Check</div>
        <div class="list-content col-1">Id</div>
        <div class="list-content col-2">Name</div>
        <div class="list-content col-5">Address</div>
        <div class="list-content col-2">Type</div>
        <div class="list-content col-2">Status</div>
    </span>
    <ul class="list-group">
        {% for location in locations.items %}
            <li class="list-group-item" id="{{location['id']}}">
                <div class="list-checkbox-div">
                    {# autocomplete=off so that checkbox doesn't stay checked after refresh #}
                    {#<input type="checkbox" class="list-checkbox" autocomplete="off" value="{{location['id']}}" id="{{location['id']}}-box">
                </div>
                <div class="list-content-group">
                    <div class="inline-list-content col-1">
                        {{location.id}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{location.name}}
                    </div>
                    <div class="inline-list-content col-5">
                        {{location.address}}
                    </div>
                    <div class="inline-list-content col-2">
                        {{location.physical_location_type.name}}
                    </div>
                    <div class="inline-list-content list-update col-2" id="status">
                        {#{location.get('status')}#}
                        {#<div class='lds-dual-ring-small'></div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>#}
    {{ item_select_script_table('/repositories/physical_locations/_get_location_info') }}
    {#{{ item_update_script('/repositories/physical_locations/_update') }}#}
    <script type="text/javascript">
        function updateLocationStatus() {
            location_ids = getVisibleItemIds();
            var i;
            for (i = 0; i < location_ids.length; i++) {
                $.get($SCRIPT_ROOT + "/repositories/physical_locations/_get_location_status", {
                            id: location_ids[i]
                        }, function(data) {
                            var data = JSON.parse(data);
                            // alert(data['name'])
                            $( "#" + data.id + ".ub-table-data-row " + "#" + data.name + ".list-update"  ).html(data.data);
                        }
                    );
            }
        }
        updateLocationStatus();
    </script>
{% endblock menu_content %}