{% extends "app_layout.html" %}
{% set active_tab = "repositories" %}
{% set menu_list = [
   (url_for('repositories.repository_list'), 'repository_list', 'Repository List'),
   (url_for('repositories.repository_types'), 'repository_types', 'Repository Types')
] -%}
{% from "menu_generator.html" import generate_menu, generate_sidebar %}
{% block tab_content %}
    {{ generate_menu(menu_list, active_menu, 'Repositories') }}
    <div class="flex-wrapper">
            <div class="flex-col menu-content">
                {% block menu_content %}
                {% endblock menu_content %}
                {#{{ render_flashed_messages() }}#}
                {{ render_flashed_messages_snack() }}
            </div>
            {{ generate_sidebar() }}
    </div>
{% endblock tab_content %}